.profile__edit {
  grid-area: edit;
  align-self: center;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  margin: 0 0 0 18px;
  padding: 0;
  border: 1px solid #fff;
  background: url('../../../images/edit-icon.svg') center no-repeat;
  background-size: 100%;
  opacity: 1;
  transition: opacity .3s ease-in;
}

.profile__edit:hover {
  opacity: .6;
}

@media (max-width: 659px) {
  .profile__edit {
    margin: 0 0 0 10px;
    width: 18px;
    height: 18px;
  }
}
